/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/


/* 
.bigred{
	font-size: 20px;
	color: red;
} */

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: -webkit-linear-gradient(top, rgb(252, 236, 252) 0%, rgb(252, 236, 252) 32%, rgb(251, 166, 225) 77%, rgb(255, 124, 216) 100%, rgb(251, 166, 225) 100%);
    background-repeat: no-repeat;
    background-size: 120% 300%;
    min-height: 1580px;
}

h1 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 50px 0 10px 0;
    font-weight: 600;
}

h2 {
    font-size: 14px;
    text-align: center;
    margin: 0 0 20px 0;
    text-decoration: underline;
    font-weight: 600;
}

.photo {
    width: 35%;
    margin: 0 430px 0 430px;
    border: 3px solid rgb(134, 11, 52);
    box-shadow: 10px 10px 10px rgb(134, 11, 52);
}

.text {
    font-size: 14px;
    text-align: center;
    margin: 30px 0 30px 0;
    line-height: 20px;
    font-style: italic;
}

.photo2 {
    width:40%;
    margin: 0 400px 30px 400px;
    border: 3px solid rgb(134, 11, 52);
    box-shadow: 10px 10px 10px rgb(134, 11, 52);
}

table {
    width: 70%;
    border: 3px solid rgb(134, 11, 52);
    border-collapse: separate;
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    box-shadow: 10px 10px 10px rgb(134, 11, 52);
}

td {
    border: 1px solid rgb(134, 11, 52);
}

th {
    border: 1px solid rgb(134, 11, 52);
}

.link:hover {
    color: lawngreen
}

.comment {
    background-color: rgb(216, 213, 213);
    width: 270px;
    text-align: center;  
}

.number {
    border: 3px solid rgb(134, 11, 52);
    border-radius: 25px;
    margin: 0 600px 30px 500px;
    width: 300px;
    height: 50px;
    background-color: rgb(216, 213, 213);
    text-align: center;
    box-shadow: 10px 10px 10px rgb(134, 11, 52);
}

.number:hover {
    filter: brightness(1.5);
}

.check {
    border: 3px solid rgb(134, 11, 52);
    border-radius: 25px;
    width: 300px;
    height: 50px;
    display: block;
    margin: 0 600px 30px 500px;
    background-color: rgb(216, 213, 213);
    box-shadow: 10px 10px 10px rgb(134, 11, 52);
    text-transform: uppercase;
}

.check:hover {
    filter: brightness(1.5);
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip:hover .tooltip__element {
    filter: brightness(1.5);
}

.tooltip:hover .tooltip__info {
    display: block;
}

.tooltip__element {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(134, 11, 52);
    border-radius: 25px;
    margin: 0 600px 30px 500px;
    width: 300px;
    height: 50px;
    background-color: rgb(216, 213, 213);
    text-align: center;
    box-shadow: 10px 10px 10px rgb(134, 11, 52);
}

.tooltip__info {
    display: none;
    position: absolute;
    margin: -100px -600px 0px 600px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: black;
    z-index: 1;
}